*{
    margin: 0;
    padding: 0;
    font-family: serif;
}

body{
    background-color: blanchedalmond;
}

form{
    margin: 10px auto;
    background-color: cornflowerblue;
    width: 500px;
    padding: 10px 20px;
    border-radius: 10px;
    padding: 20px;
}

h3{
    text-align: center;
}

input{
    height: 40px;
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
}

.edit-comment{
    border-radius: 5px;
    padding: 5px;
    border: none;
    height: 90px;
    width: 60%;
    outline: none;
}

.btn{
    background-color: blanchedalmond;
    color: black;
    font-size: medium;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 35px;

}

.btn:hover{
    background-color: white;
    color: green;
}