*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

.body{
    background-color: brown;
}

.form-class{
    margin: 10px auto;
    background-color: olive;
    width: 500px;
    padding: 10px 20px;
    border-radius: 10px;
    padding: 20px;

}

.form-group{
    margin: 2%;
}

h1{
    text-align: center;
}

input{
    height: 40px;
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
}

.comment{
    border-radius: 5px;
    padding: 5px;
    border: none;
    height: 90px;
    width: 60%;
    outline: none;
}

.submit{
    background-color: brown;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.submit:hover{
    background-color: blanchedalmond;
    color: black;
}

table{
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    background-color: bisque;
    padding: 10px;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}

.edit-btn {
    text-decoration: none;
    padding: 2px 5px;
    background: green;
    color: white;
    border-radius: 3px;
}

.edit-btn:hover{
    background: white;
    color: green;
}

.del-btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: red;
}

.del-btn:hover{
    background: white;
    color: red;
}